<mat-toolbar>
  <mat-toolbar-row class="nav_content">
    <div class="right-content ml-3">
        <hello name="LifeLike Search Section"></hello>
    </div>

    <button mat-button title="Click to change layout direction" (click)="changeLayout=!changeLayout"  >
      <mat-icon *ngIf="changeLayout">horizontal_split</mat-icon>
      <mat-icon *ngIf="!changeLayout">vertical_split</mat-icon> Layout</button>
                <button class="btn btn-warning" (click)="direction = (direction === 'horizontal') ? 'vertical' : 'horizontal'">{{ 'Toggle direction: "' + direction + '"' }}</button>

  </mat-toolbar-row>
</mat-toolbar>