<app-vertical-navbar [sidenav]="leftSidenav"></app-vertical-navbar>

<mat-sidenav-container class="tp_container">

	<mat-sidenav #leftSidenav mode="side" opened class="no-v-scroll mat-elevation-z10" style="overflow:visible">
		<app-left-menu></app-left-menu>
	</mat-sidenav>

	<mat-sidenav-content fxLayout="column" [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
      <div>
        <app-navbar fxFlex="100"></app-navbar>
      </div>
      <div>
        <app-search-bar fxFlex="100"></app-search-bar>
      </div>

			<div fxFlex="100" class="search_content mt-4">
				<div fxLayout="row" fxLayoutAlign="start none">
					<app-search-content></app-search-content>
				</div>
			</div>

	</mat-sidenav-content>

</mat-sidenav-container>