<as-split [direction]="direction">
  
    <as-split-area size="70">

      <mat-toolbar>
        <button mat-icon-button (click)="onFullscreen(image)" >
          <mat-icon >fullscreen</mat-icon>
            <button class="btn btn-warning" (click)="direction = (direction === 'horizontal') ? 'vertical' : 'horizontal'">{{ 'Layout: "' + direction + '"' }}</button>

        </button>
      </mat-toolbar>

        <div class="search_result_wrapper" fxLayout="row">
          <app-single-search-result></app-single-search-result>
        </div>
    </as-split-area>
 

  <as-split-area size="30">
    <app-search-file></app-search-file>
  </as-split-area>

</as-split>
